* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  background-color: var(--side-bar);
  display: flex;
  gap: 0.4rem;
  min-height: 100vh;
  min-width: 100vw;
}

/* REUSEABLE */

.icon {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

select {
  border: none;
}

/* HEADER */

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--side-menu);
  height: 6.5rem;

  padding: 1rem;
}
.mobile-header i {
  color: var(--side-header-i);
}

.burger-mobile-header {
  z-index: 150;
  margin-left: 1rem;
}

.icon-mobile-header {
  /* display: none; */
  font-size: 4rem;
}

.logo-mobile {
  height: 4rem;
  width: 4rem;
}

.side-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 6rem;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--side-menu);
}

.side-header span {
  color: var(--side-header-i);
  font-weight: bolder;
}

.side-header i {
  color: var(--side-header-i);
}

.side-header i:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.icon-side-bar {
  font-size: 3rem;
  color: #fff;
}
/* SETTINGS SECTION */

.settings-section,
.settings-section-menu {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-width: 18rem;
  max-width: 25rem;
}

.settings-section-menu {
  gap: 0.4rem;
}

.settings-section ul {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.4rem;
}

.settings-section i {
  margin-right: 0.8rem;
}

.themes-list-sidebar li,
.stats-list-sidebar li,
.settings-item {
  cursor: pointer;
}

.settings-item-theme,
.settings-list-stats,
.settings-header,
.settings-submenu-item-word-count,
.settings-list-fonts,
.settings-list-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-title-container,
.settings-text-container,
.stats-title-container,
.word-count-toggle-container {
  display: flex;
  align-items: center;
}

.settings-section-item,
.settings-submenu-item {
  height: 4rem;
  padding: 0.8rem;
  background-color: var(--note-section);
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
}

.settings-header,
.settings-submenu-item,
.my-fonts-list li,
.my-tags-list li {
  background-color: var(--side-bar) !important;
  border: 1px solid var(--side-header-i);
  color: var(--side-header-i);
}

.word-count-toggle {
  font-size: 3rem;
}

.fonts-submenu-item,
.tags-submenu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.search-fonts-input,
.custom-tag-input {
  /* height: 100%; */
  width: 100%;
  padding: 0.8rem;
  font-size: 1.6rem;
}

.my-fonts-list,
.tag-list-sidebar,
.my-tags-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.my-fonts-list li,
.tag-list-sidebar li {
  height: 4rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
}

/* NOTE PREVIEW SECTION */

.preview-section {
  margin: 0.5rem 0 2rem 0;
  overflow-y: scroll;
  min-height: 100vh;
}

.notes-preview-section {
  z-index: 100;
}

.preview-section,
.notes-preview-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 18rem;
  max-width: 25rem;
}

.preview-section-header,
.filter-select {
  height: 4rem !important;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--side-bar);
  color: var(--side-header-i);
}

.preview-section-header,
.filter-select,
.filter-menu {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
}

.preview-section-header,
.filter-select,
.filter-menu {
  background-color: var(--side-bar);
  border: 1px solid var(--side-header-i);
  color: var(--side-header-i);
}

.filter-menu {
  flex-direction: column;
  list-style: none;
  margin-top: 0.4rem;
}

.filter-menu li {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  z-index: 100;
  color: var(--side-header-i);
  opacity: 0.8;
  border-bottom: 1px solid var(--side-header-i);
  transition: all 0.3s;
}

.filter-select {
  position: relative;
  z-index: 51 !important;
}

.filter-menu li:hover {
  text-shadow: 0px 0px 10px var(--side-header-i);
  opacity: 1;
  transition: all 0.3s;
}

.filter-menu li i {
  margin-right: 1rem;
  color: var(--side-header-i);
}

.note-preview {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 0.5rem;
  width: 100%;
  height: 10rem;
  cursor: pointer;
  background-color: var(--note-section);
  padding: 0.8rem;
  border: 1px solid var(--primary-background-color);
  border-radius: 5px;
  order: 1;
  hyphens: auto;
  opacity: 0.8;
  overflow: hidden;
}
.note-preview:hover {
  opacity: 1;
  transition: all 0.5s;
}

.ph-star-fill {
  color: var(--fill-star);
}

.ph-tag-fill {
  color: var(--fill-tag);
}

.tag-icon-tag-menu-fill {
  color: var(--side-header-i);
}

.note-preview--date {
  font-size: 1rem;
}

.note-Highlights {
  opacity: 1;
}

.ph-tag-fill-preview {
  grid-column: 2;
  grid-row: 1;
  color: var(--fill-tag);
}

.icon-preview {
  font-size: 1.2rem;
}

.note-preview--title {
  grid-column: 1 / -1;
  grid-row: 2;

  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.note-preview--text {
  grid-column: 1 / -1;
  grid-row: 3;
  margin-bottom: 0.8rem;
}

/* WELCOME POP-UP */

.welcome-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  background-color: #ffffff;
  width: 75%;

  border-radius: 5px;

  padding: 4rem 3rem 2rem 3rem;
  margin: 4rem auto;
}

.welcome-pop-up h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.welcome-description {
  font-size: 2.6rem;
}

.welcome-close-btn {
  align-self: flex-end;
  color: #fff;
  background-color: rgb(70, 42, 173);
  width: 10rem;
}

/* STICKY BOX */

.sticky-box {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
}

.note-saved-box,
.word-count-box,
.new-note-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--save-background-color);
  border-radius: 100rem;
  color: var(--save-background-color);
  background-color: var(--primary-background-color);
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}
.new-note-box:hover {
  box-shadow: 0px 0px 2px 2px #fff;
  transition: all 0.5s;
}
#plussNewNote {
  color: var(--save-background-color) !important;
}
#counter,
.autosave-msg {
  font-size: 1.2rem !important;
}

.sticky-box-icon {
  font-size: 1.6rem;
}

.spinner {
  height: 1.6rem;
  width: 1.6rem;
  border-top: 3px solid var(--save-background-color) !important;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NOTE CREATION SECTION */
.note-creation-section {
  width: 100%;
  background-color: var(--side-bar);
  /* overflow-y: hidden; */
  margin-right: 0.5rem;
}

/* TOOLBAR */
.markdownImport:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.markdownExport:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

#toolbar {
  background: var(--primary-background-color);

  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 0.5rem;
}

/* .custom-font-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  height: 3rem;
  width: 14.8rem;
  border-radius: 2px;
  margin-top: 1rem;
  box-shadow: 0px 0px 2px 2px var(--side-bar);
  background-color: var(--primary-background-color);
  z-index: 9999;
  opacity: 1;
}

.custom-font-input {
  margin: 0 0.4rem;
  padding: 0.8rem;
  border: 1px solid #000;
  border-radius: 2px;
  height: 2rem;
  width: 14rem;
}

.custom-font-ok-btn {
  color: #000;
  height: 2rem;
  width: 2rem;
  border: 1px solid #000;
  border-radius: 2px;
} */

#custom-button {
  color: var(--primary-text-color);
}

#custom-button .icon:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.custom-tag-input-el {
  color: black !important;
}

span.ql-picker-label {
  color: var(--primary-text-color);
}

span.ql-picker-item {
  color: var(--fontSelection-size-color);
}

span.ql-picker-item:hover {
  filter: grayscale(200%);
  transition: all 0.3s;
}

.ql-font {
  color: red;
}

.ql-picker-label:hover {
  filter: grayscale(110%);
  transition: all 0.3s;
}

#ql-picker-options-4 {
  background-color: var(--primary-background-color);
}

#custom-button:focus {
  color: #000;
}

.ql-active {
  color: var(--qlStroke-color) !important;
}

polygon.ql-stroke {
  filter: grayscale(100%);
}

.ql-underline,
.checkbox,
.ql-clean {
  margin-right: 1rem !important;
}

/* TAGS TOOLBAR */

/*--- stats container ---*/

.stats-selection-container {
  position: absolute;
  z-index: 100;
  font-size: 1.4rem;
  background-color: var(--primary-background-color);
  border: 1px solid #000;
  width: 18rem;
  margin-top: 1rem;
}

.stats-selection-container-sidebar {
  transform: translate(70%, 120%);
}

.stats-list-sidebar-default li {
  background-color: var(--primary-background-color);
}

.stats-selection-container ul {
  list-style: none;
  text-align: left;
}

.stats-selection-container li {
  border-top: 1px solid #000;
  padding: 0.5rem 1rem;
  list-style: none;
  cursor: pointer;
}

.hover:hover {
  opacity: 0.6;
  transition: all 0.5s;
}

.stats-name {
  width: auto !important;
}

.tag-icon-tag-menu {
  font-size: 1.6rem;
}

.custom-tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-tag-btn {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #000;
  width: 2rem;
  height: 1.8rem;
}

.input-custom-tag {
  padding: 0 0.4rem;
  width: 13rem;
}

li.tag-selection:hover {
  opacity: 1;
  text-shadow: 0px 0px 10px var(--side-header-i);
  transition: all 0.3s;
}

.tag-selection-container-toolbar li {
  border-top: 1px solid var(--side-header-i);
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 0.8;
}

.tag-name {
  width: auto !important;
}

.icon-toolbar {
  color: #000;
  font-size: 2rem;
  color: var(--svg-color);
}

.ql-stroke {
  filter: var(--filter-svg);
}

.ql-picker-label {
  color: var(--svg-color);
}

.note-container {
  width: 100%;
}

/* Title */

.title-container {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 65vw;
  margin: 2rem auto 0 auto;
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 1rem 2rem 2rem 2rem;
  z-index: 2;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 2.4rem;
}

.custom-ul li {
  border-top: none;
  background-color: #fff;
}

.tag-selection-container-title {
  position: absolute;
  border: 1px solid var(--side-header-i);
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: var(--primary-background-color);
  width: 18rem;
  z-index: 100;
}
.tag-selection-container-title li {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  border-bottom: 1px solid var(--side-header-i);
}

.tag-selection-container ul {
  list-style: none;
  text-align: left;
  color: var(--side-header-i);
}

.tag-list-title {
  display: flex;
  align-items: center;
}
.tag-selection-container-toolbar,
.tag-selection-container-sidebar {
  font-size: 1.4rem;
  background-color: var(--primary-background-color);
  width: 18rem;
  z-index: 100;
}

.tag-selection-container-sidebar {
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid var(--primary-background-color);
  border-radius: 5px;
  background-color: var(--side-bar);
  color: var(--side-header-i);
}

.tag-selection-container-sidebar li {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  border-bottom: 1px solid var(--side-header-i);
  opacity: 0.8;
}

.tag-selection {
  background-color: var(--side-bar) !important;
}

.tag-list-title li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: var(--side-header-i);
  padding: 0.4rem 0.8rem;
  border-radius: 0;
  border: none;
}

.tag-hole {
  position: absolute;
  font-size: 0.4rem;
  transform: translateX(-0.8rem);
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid var(--side-bar);
  border-bottom: 10px solid transparent;
  margin-left: 0.4rem;
}

.tag-selection-title {
  display: flex;
  gap: 0.8rem;
}

.input-title {
  font-size: 2em;
  font-weight: 550;
  border: none;
  width: 100%;
  margin: 0 auto;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

#editor {
  max-width: 65vw;
  min-height: 65vh;
  margin: 0 auto;
  /* background-color: #fff; */
  /* padding: 0 0.5rem; */
  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

.ql-editor ul[data-checked="true"] {
  color: green;
  opacity: 0.7;
  font-size: 1.5rem;
}

/* theme drop-down menu section */

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  transform: all 0.3s;
  opacity: 0.8;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  opacity: 1;
}

.active {
  background-color: rgb(70, 42, 173);
}

select.themeSelect {
  background-color: var(--note-section);
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.notes-preview-section::-webkit-scrollbar {
  width: 0.7rem;
}

.notes-preview-section::-webkit-scrollbar-thumb {
  background-color: var(--note-section);
}

#searchNotesInputs {
  cursor: initial;
  font-size: 1.6rem;
  height: 4rem;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}

.ql-editor.ql-blank::before {
  filter: var(--filter-blank);
}

.note-container {
  color: chocolate;
}

.templateModal img {
  height: 38vh;
  width: 38vh;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.template-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  place-content: center;
  place-items: center;
  text-align: center;
  color: white;
  height: 80%;
  margin: 0 auto;
  padding: 3rem;
}

.template {
  transition: all 0.5s;
}

.templateModal img:hover {
}

.template-1:hover {
  transform: translate(25%, 25%) scale(125%);
}

.template-2:hover {
  transform: translate(-25%, 25%) scale(125%);
}
.template-3:hover {
  transform: translate(25%, -25%) scale(125%);
}

.template-4:hover {
  transform: translate(-25%, -25%) scale(125%);
}

.templateModal {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.templateModal h1 {
  grid-column: 1/-1;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.templateModal h2 {
  font-size: 1.6rem;
  text-align: center;
}

.popup {
  position: absolute;
  left: 25%;
  top: 28%;
  right: 28%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.closeGraph {
  opacity: 0.5;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.5s;
}

.closeGraph:hover {
  opacity: 1 !important;
}

#graph {
  background-color: var(--primary-background-color);
  filter: invert(20%);
  filter: opacity(80%);
}

.overlay,
.overlay-sidebar,
.overlay-filter,
.overlay-filter-tags,
.overlay-filter-keyword {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.overlay-filter-tags,
.overlay-filter-keyword {
  z-index: 52;
}

.hidden {
  display: none !important;
}

/* ********************************************* */
/* MEDIA QUERIES******************************* */
/* ********************************************* */

@media print {
  #editor,
  .input-title,
  .title-container {
    color: black;
    border: none;
  }
  .ql-toolbar,
  .notes-preview-section,
  .side-header {
    display: none;
  }
}

@media (max-width: 37.5em) {
  #editor,
  .title-container {
    max-width: 80vw;
  }

  .note-preview {
    opacity: 1;
  }

  .preview-section,
  .settings-section {
    position: absolute;
    left: 6rem;

    z-index: 150;
    background-color: var(--side-bar);
    padding: 0 0.5rem;
    width: 100%;
    max-width: calc(100vw - 6.5rem);
  }

  .notes-preview-section {
    width: 100%;
    max-width: calc(100vw - 6.5rem);
  }

  .welcome-pop-up {
    width: 75%;
  }

  .welcome-pop-up h1 {
    font-size: 2rem;
  }

  .welcome-description {
    font-size: 1.6rem;
  }
}

@media (max-width: 28.125em) {
  .container {
    flex-direction: column;
  }

  .side-header {
    width: 8rem;
  }

  .side-header i {
    font-size: 4rem;
  }

  .preview-section,
  .settings-section {
    left: 8rem;
    top: 6.5rem;
    max-width: calc(100vw - 8.5rem);
  }

  #editor,
  .title-container,
  .welcome-pop-up {
    max-width: 95vw;
    font-size: 2rem;
  }

  #editor {
    min-height: 40vh;
  }

  .side-header {
    position: absolute;
    z-index: 150;
    top: 5rem;
    padding-top: 2rem;
  }

  .logo-box {
    display: none;
  }

  .welcome-pop-up {
    width: 75%;
  }

  .filter-select,
  .filter-menu li,
  .settings-section-item,
  .settings-submenu-item,
  .searchNotesInput,
  .search-fonts-input {
    height: 6rem !important;
    font-size: 2rem !important;
  }

  .preview-section-header {
    font-size: 2rem;
  }

  .note-preview {
    height: 12rem;
  }

  .icon-preview,
  .note-preview--title {
    font-size: 2rem;
  }

  .note-preview--text,
  .note-preview--date {
    font-size: 1.4rem;
  }

  #toolbar svg,
  .ql-picker-label {
    font-size: 1.6rem !important;
    height: 2.4rem;
    width: 2.4rem;
  }

  .ql-picker-label svg {
    transform: translateY(-0.2rem);
  }

  .popup {
    width: 100vw;
    height: 100vh;
  }

  .templateModal {
    grid-template-columns: 200px;
  }

  .templateModal img {
    aspect-ratio: 1 / 1;
    width: 40vw;
    height: 40vw;
  }
  .custom-font-container {
    transform: translateY(200%);
  }
}
