* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  background-color: var(--side-bar);
  display: flex;
  gap: 0.4rem;
  min-height: 100vh;
  min-width: 100vw;
}

/* REUSEABLE */

.icon {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* HEADER */

.side-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 6rem;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--side-menu);
}


.side-header span {
  color: var(--primary-background-color);
  font-weight: bolder;
  opacity: 0.8;
}

.side-header i {
  color: var(--side-bar);

}


.side-header i:hover {

  color: var(--note-section);
}

.logo {
  height: 5rem;
  width: 5rem;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon-side-bar {
  font-size: 3rem;
  color: #fff;
}

/* NOTE PREVIEW SECTION */

.notes-preview-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 18rem;
  max-width: 25rem;
  height: 100vh;

  overflow-y: scroll;
}

.preview-section-header {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  height: 4rem;
  border: 1px solid var(--primary-background-color);
  background-color: var(--note-section);
  padding: 0.8rem;

}

.note-preview {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 0.5rem;
  width: 100%;
  height: 8rem;
  cursor: pointer;
  background-color: var(--note-section);
  padding: 0.8rem;
  border: 1px solid var(--primary-background-color);
  border-radius: 5px;
  order: 1;
}



.note-preview--date {
  font-size: 1rem;
}

.ph-tag-fill-preview {
  grid-column: 2;
  grid-row: 1;
}

.icon-preview {
  font-size: 1.2rem;
}

.note-preview--title {
  grid-column: 1 / -1;
  grid-row: 2;

  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.note-preview--text {
  grid-column: 1 / -1;
  grid-row: 3;
}


/* WELCOME POP-UP */

.welcome-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 80%;
  width: 50%;

  border-radius: 5px;

  padding: 4rem 3rem 2rem 3rem;
  margin: 4rem auto;
}

.welcome-pop-up h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.welcome-description {
  font-size: 1.6rem;
}

.welcome-close-btn {
  align-self: flex-end;
  color: #fff;
  background-color: rgb(70, 42, 173);
  width: 10rem;
}

/* NOTE CREATION SECTION */
.note-creation-section {
  width: 100%;
  background-color: var(--side-bar);
  overflow-y: hidden;
}



/* TOOLBAR */

#toolbar {
  background: var(--primary-background-color);


  border: 1px solid #aaa;

}

#custom-button {
  margin-left: 0.5rem;
  color: var(--svg-color);
}

#custom-button:hover,
.icon-toolbar:hover {
  color: var(--primary-icons-hover);
}

svg {
  background: var(--filter-svg);
}

span.ql-picker-label {
  color: var(--primary-text-color);
}

span.ql-picker-item {
  color: var(--side-bar);
  opacity: 0.5;
}

span.ql-picker-item:hover {
  opacity: 1;
}


/* .ql-picker-options {
  color: var(--primary-text-color);
}  */

.ql-font {
  color: red;
}

.ql-picker-label:hover {
  filter: hue-rotate(200deg);
  opacity: 0.8;
}

#ql-picker-options-4 {
  background-color: var(--svg-color);
}

#custom-button:focus {
  color: #000;
}

.ql-color,
.ql-bold,
.ql-align,
.ql-code-block,
.tag-tb {
  margin-left: 2rem !important;
}

/* TAGS TOOLBAR */

.tag-tb {
  position: relative;
  display: flex;
}

.tag-selection-container {
  position: absolute;
  z-index: 100;
  font-size: 1.4rem;
  background-color: #eee;
  border: 1px solid #000;
  width: 18rem;
  margin-top: 1rem;
}

.tag-list-sidebar-default li {
  background-color: #fff;
}

.tag-selection-container-sidebar {
  transform: translate(70%, -40%);
}

.tag-icon-tag-menu {
  font-size: 1.6rem;
}

.custom-tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-tag-btn {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #000;
  width: 2rem;
  height: 1.8rem;
}

.input-custom-tag {
  padding: 0 0.4rem;
  width: 13rem;
}

.tag-selection-container:hover {
  color: #000;
}

.tag-selection-container ul {
  list-style: none;
  text-align: left;
}

.tag-selection-container li {
  border-top: 1px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tag-name {
  width: auto !important;
}

.custom-ul li {
  border-top: none;
  background-color: #fff;
}

.icon-toolbar {
  color: #000;
  font-size: 2rem;
  color: var(--svg-color);
}

.ql-stroke {
  filter: var(--filter-svg);
}

.ql-picker-label {
  color: var(--svg-color);
}

.note-container {
  width: 100%;

}

.title-container {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  width: 70rem;
  margin: 2rem auto 0 auto;
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 2rem;
}

.input-title {
  font-size: 2em;
  font-weight: 550;
  border: none;
  width: 100%;
  margin: 0 auto;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

#editor {
  max-width: 70rem;
  min-height: 65vh;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 0 0.5rem;
  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background: var(--primary-background-color);
  color: var(--primary-text-color);

}


.ql-editor ul[data-checked="true"] {
  color: green;
  opacity: 0.7;
  font-size: 1.5rem;
}

/* theme drop-down menu section */

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  transform: background 0.3s;
  opacity: 0.8;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  opacity: 1;
}

.active {
  background-color: rgb(70, 42, 173);
}

select.themeSelect {
  background-color: var(--note-section);
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 5px;
}

.notes-preview-section::-webkit-scrollbar {
  width: 0.7rem;
}

.notes-preview-section::-webkit-scrollbar-thumb {
  background-color: var(--note-section);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

#searchNotesInput {
  cursor: initial;
}