* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  background-color: var(--side-bar);
  display: flex;
  gap: 0.4rem;
  min-height: 100vh;
  min-width: 100vw;
}

/* REUSEABLE */

.icon {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
}

select {
  border: none;
}

/* HEADER */

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--side-menu);

  padding: 1rem;
}

.icon-mobile-header {
  /* display: none; */
  font-size: 4rem;
}

.logo-mobile {
  height: 4rem;
  width: 4rem;
}

.side-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 6rem;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--side-menu);
}

.side-header span {
  color: var(--side-header-i);
  font-weight: bolder;
}

.side-header i {
  color: var(--side-header-i);
}

.side-header i:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.icon-side-bar {
  font-size: 3rem;
  color: #fff;
}
/* SETTINGS SECTION */

.settings-section {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.4rem;
  min-width: 18rem;
  max-width: 25rem;
}

.settings-section ul {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.4rem;
}

.settings-section i {
  margin-right: 0.8rem;
}

.settings-section li,
.settings-item {
  cursor: pointer;
}

.settings-item-theme,
.settings-list-stats,
.settings-header,
.settings-submenu-item-word-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-title-container,
.settings-text-container,
.stats-title-container,
.word-count-toggle-container {
  display: flex;
  align-items: center;
}

.settings-section-item,
.settings-submenu-item {
  height: 4rem;
  padding: 0.8rem;
  background-color: var(--note-section);
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
}

.settings-header,
.settings-submenu-item {
  background-color: var(--side-bar) !important;
  border: 1px solid var(--side-header-i);
  color: var(--side-header-i);
}

.word-count-toggle {
  font-size: 3rem;
}
/* NOTE PREVIEW SECTION */

.preview-section {
  margin-top: 0.5rem;
  overflow-y: scroll;
  min-height: 100vh;
}

.notes-preview-section {
  z-index: 100;
}

.preview-section,
.notes-preview-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 18rem;
  max-width: 25rem;
}

.preview-section-header,
.filter-select {
  height: 4rem !important;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--side-bar);
  color: var(--side-header-i);
}

.preview-section-header,
.filter-select,
.filter-menu {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 5px;
}

.preview-section-header,
.filter-select,
.filter-menu {
  background-color: var(--side-bar);
  border: 1px solid var(--side-header-i);
  color: var(--side-header-i);
}

.filter-menu {
  flex-direction: column;
  list-style: none;
  margin-top: 0.4rem;
}

.filter-menu li {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  z-index: 100;
  color: var(--side-header-i);
  opacity: 0.8;
  border-bottom: 1px solid var(--side-header-i);
  transition: all 0.3s;
}

.filter-menu li:hover {
  text-shadow: 0px 0px 10px var(--side-header-i);
  opacity: 1;
}

.filter-menu li i {
  margin-right: 1rem;
  color: var(--side-header-i);
}

.note-preview {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 0.5rem;
  width: 100%;
  height: 10rem;
  cursor: pointer;
  background-color: var(--note-section);
  padding: 0.8rem;
  border: 1px solid var(--primary-background-color);
  border-radius: 5px;
  order: 1;
  hyphens: auto;
  opacity: 0.8;
  overflow: hidden;
}
.note-preview:hover {
  opacity: 1;
  transition: all 0.3s;
}

.ph-star-fill {
  color: var(--fill-star);
}

.ph-tag-fill {
  color: var(--fill-tag);
}

.note-preview--date {
  font-size: 1rem;
}

.note-Highlights {
  opacity: 1;
}

.ph-tag-fill-preview {
  grid-column: 2;
  grid-row: 1;
  color: var(--fill-tag);
}

.icon-preview {
  font-size: 1.2rem;
}

.note-preview--title {
  grid-column: 1 / -1;
  grid-row: 2;

  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.note-preview--text {
  grid-column: 1 / -1;
  grid-row: 3;
}

/* WELCOME POP-UP */

.welcome-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  background-color: #ffffff;
  width: 75%;

  border-radius: 5px;

  padding: 4rem 3rem 2rem 3rem;
  margin: 4rem auto;
}

.welcome-pop-up h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.welcome-description {
  font-size: 2.6rem;
}

.welcome-close-btn {
  align-self: flex-end;
  color: #fff;
  background-color: rgb(70, 42, 173);
  width: 10rem;
}

/* NOTE CREATION SECTION */
.note-creation-section {
  width: 100%;
  background-color: var(--side-bar);
  /* overflow-y: hidden; */
  margin-right: 0.5rem;
}

/* TOOLBAR */
.markdownImport:hover {
  opacity: 0.6;
  transition: all 0.3s;
}
#toolbar {
  background: var(--primary-background-color);

  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 0.5rem;
}

#custom-button {
  color: var(--primary-text-color);
}

#custom-button .icon:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.custom-tag-input-el {
  color: black !important;
}

span.ql-picker-label {
  color: var(--primary-text-color);
}

span.ql-picker-item {
  color: var(--fontSelection-size-color);
}

span.ql-picker-item:hover {
  /* opacity: 1; */
  filter: grayscale(200%);
}

.ql-font {
  color: red;
}

.ql-picker-label:hover {
  filter: grayscale(110%);
  transition: all 0.3s;
}

#ql-picker-options-4 {
  background-color: var(--primary-background-color);
}

#custom-button:focus {
  color: #000;
}

.ql-active {
  color: var(--qlStroke-color) !important;
}

polygon.ql-stroke {
  filter: grayscale(100%);
}

.ql-underline,
.checkbox,
.ql-clean {
  margin-right: 1rem !important;
}

/* TAGS TOOLBAR */

.tag-tb {
  position: relative;
  display: flex;
}

.tag-selection-container-toolbar {
  position: absolute;
  border: 1px solid var(--side-header-i);
  margin-top: 1rem;
}

.tag-selection-container-toolbar,
.tag-selection-container-sidebar {
  font-size: 1.4rem;
  background-color: var(--primary-background-color);
  width: 18rem;
  z-index: 100;
}

.tag-selection-container-sidebar {
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid var(--primary-background-color);
  border-radius: 5px;
  background-color: var(--side-bar);
  color: var(--side-header-i);
}
.tag-selection {
  background-color: var(--side-bar) !important;
}
.tag-selection-container-sidebar li {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  border-bottom: 1px solid var(--side-header-i);
  opacity: 0.8;
}

/*--- stats container ---*/

.stats-selection-container {
  position: absolute;
  z-index: 100;
  font-size: 1.4rem;
  background-color: var(--primary-background-color);
  border: 1px solid #000;
  width: 18rem;
  margin-top: 1rem;
}

.stats-selection-container-sidebar {
  transform: translate(70%, 120%);
}

.stats-list-sidebar-default li {
  background-color: var(--primary-background-color);
}

.stats-selection-container ul {
  list-style: none;
  text-align: left;
}

.stats-selection-container li {
  border-top: 1px solid #000;
  padding: 0.5rem 1rem;
  list-style: none;
  cursor: pointer;
}

.hover:hover {
  opacity: 0.6;
}

.stats-name {
  width: auto !important;
}

.tag-icon-tag-menu {
  font-size: 1.6rem;
}

.custom-tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-tag-btn {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #000;
  width: 2rem;
  height: 1.8rem;
}

.input-custom-tag {
  padding: 0 0.4rem;
  width: 13rem;
}

li.tag-selection:hover {
  opacity: 1;
  text-shadow: 0px 0px 10px var(--side-header-i);
  transition: all 0.3s;
}

.tag-selection-container ul {
  list-style: none;
  text-align: left;
  color: var(--side-header-i);
}

.tag-selection-container-toolbar li {
  border-top: 1px solid var(--side-header-i);
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 0.8;
}

.tag-name {
  width: auto !important;
}

.custom-ul li {
  border-top: none;
  background-color: #fff;
}

.icon-toolbar {
  color: #000;
  font-size: 2rem;
  color: var(--svg-color);
}

.ql-stroke {
  filter: var(--filter-svg);
}

.ql-picker-label {
  color: var(--svg-color);
}

.note-container {
  width: 100%;
}

.title-container {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  max-width: 65vw;
  margin: 2rem auto 0 auto;
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 2rem;
}

.input-title {
  font-size: 2em;
  font-weight: 550;
  border: none;
  width: 100%;
  margin: 0 auto;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

#editor {
  max-width: 65vw;
  min-height: 65vh;
  margin: 0 auto;
  /* background-color: #fff; */
  /* padding: 0 0.5rem; */
  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
}

.ql-editor ul[data-checked="true"] {
  color: green;
  opacity: 0.7;
  font-size: 1.5rem;
}

/* theme drop-down menu section */

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  transform: background 0.3s;
  opacity: 0.8;
}

.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  opacity: 1;
}

.active {
  background-color: rgb(70, 42, 173);
}

select.themeSelect {
  background-color: var(--note-section);
  color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.notes-preview-section::-webkit-scrollbar {
  width: 0.7rem;
}

.notes-preview-section::-webkit-scrollbar-thumb {
  background-color: var(--note-section);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

#searchNotesInputs {
  cursor: initial;
  font-size: 1.6rem;
  height: 4rem;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}

/* Auto saving style */
.autosave-msg {
  color: var(--side-header-i);
  text-shadow: 0px 0px 10px var(--side-header-i);
  padding: 0.5rem;
  font-size: 1.3rem;
}

.ql-editor.ql-blank::before {
  filter: var(--filter-blank);
}
.note-container {
  color: chocolate;
}
@media print {
  #editor,
  .input-title,
  .title-container {
    color: black;
    border: none;
  }
  .ql-toolbar,
  .notes-preview-section,
  .side-header {
    display: none;
  }
}

#counter {
  font-size: 1.5rem;
  /* box-shadow: 0px 0px 5px 2px white; */
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
}

.templateModal img {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.templateModal img:hover {
  zoom: 110%;
}

.templateModal {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
  place-content: center;
  place-items: center;
  color: white;
}

.templateModal h1 {
  grid-column: 1/-1;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.templateModal h2 {
  font-size: 1.6rem;
  text-align: center;
}

.popup {
  position: absolute;
  left: 25%;
  top: 28%;
  right: 28%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.closeGraph {
  opacity: 0.5;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.5s;
}

.closeGraph:hover {
  opacity: 1 !important;
}

#graph {
  background-color: var(--primary-background-color);
  filter: invert(20%);
  filter: opacity(80%);
}

/* ********************************************* */
/* MEDIA QUERIES******************************* */
/* ********************************************* */
@media (max-width: 37.5em) {
  #editor,
  .title-container {
    max-width: 80vw;
  }

  .note-preview {
    opacity: 1;
  }

  .preview-section,
  .settings-section {
    position: absolute;
    left: 6rem;
    z-index: 150;
    background-color: var(--side-bar);
    padding: 0 0.5rem;
    width: 100%;
    max-width: calc(100vw - 6.5rem);
  }

  .notes-preview-section {
    width: 100%;
    max-width: calc(100vw - 6.5rem);
  }

  .welcome-pop-up {
    width: 75%;
  }

  .welcome-pop-up h1 {
    font-size: 2.4rem;
  }

  .welcome-description {
    font-size: 1.6rem;
  }
}

@media (max-width: 28.125em) {
  .container {
    flex-direction: column;
  }

  .side-header {
    position: absolute;
    z-index: 150;
    top: 5rem;
    padding-top: 2rem;
  }

  .logo-box {
    display: none;
  }

  .welcome-pop-up {
    width: 75%;
  }
  .popup {
    width: 100vw;
    height: 100vh;
  }
  .templateModal {
    grid-template-columns: 200px;
  }
  .templateModal img {
    height: 160px;
    width: 60vw;
  }
}
