:root {
    --primary-background-color: #221e27;
    --fontSelection-size-color: #221e27;
    --primary-text-color: #fff ;
    --primary-icons-hover: #000000;    
    --svg-color: #fff;
    --filter-svg: brightness(250%);   
    --note-section: #1F1B24;
    --side-bar: #0f0c12;
    --side-menu: #221e27;;
    --side-header-i: #fff;
    --qlStroke-color: #fff;
    --filter-blank: invert(100%);
    --fill-star: #FFF;
    --fill-tag :#FFF;
}


/* #292929  = GRAY
   #000000
   #BB86FC = purple primary
   ##1F1B24 = DARK primary

 #03DAc5 =   secondary teal(ljusblå)
 #FFFFFF = vit
*/
